<h1 class='logo'>My B<span>❤❤</span>kmarx</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Url</th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= link_to bookmark.title, bookmark.url %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @bookmarks %>

<br />

<%= link_to 'New Bookmark', new_bookmark_path, :class => 'btn' %>
