<% if current_user %>
  <h1 class='logo'>Latest Bookmarks</h1>
  <table class="table table-bordered">
    <tr>
      <th>Url</th>
      <th>User</th>
      <th>Forks</th>

    </tr>

    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title, bookmark.url %></td>
        <td><%= link_to bookmark.user.username, profile_path(bookmark.user) %></td>
        <td><%= link_to 'Fork!', fork_bookmark_path(bookmark) %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @bookmarks %>
  <br />
<% else %>
  <div class="jumbotron">
    <h1 class='logo'>Share your b<span>❤❤</span>kmarks!</h1>
    <p class="lead">A simple app to track and share your beloved bookmarks with others.</p>
    <%= link_to "Get started today", new_user_registration_path, :class => "btn btn-lare btn-danger" %>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span4">
      <h3 class="logo">Rails Girls</h3>
      <p>This event aims to give tools for girls and women to build their ideas. You learn designing, prototyping and coding by doing it with help from our coaches.</p>
      <p><a class="" href="http://railsgirls.com" target="_blank">Learn more</a>.</p>
    </div>
    <div class="span4">
      <h3 class="logo">Rome</h3>
      <p>On March 22-23 2013, Rails Girls came to the Eternal City! During the free one-and-a-half-day workshop we dived into the magical world of Ruby on Rails. This website is one of the apps we've built togheter.</p>
      <p><a class="" href="http://railsgirls.com/rome" target="_blank">See details</a>.</p>
    </div>
    <div class="span4">
      <h3 class='logo'>About B<span>❤❤</span>kmarx</h3>
      <p>People who had fun developing this app:</p>
      <p>YOUR NAMES HERE :-)</p>
    </div>
  </div>
<% end %>

