<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>B❤❤kmarx - A RailsGirls Rome project</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
  <header class="masthead">
    <h3 class="muted">
      <a href='/' class='logo'>B<span>❤❤</span>kmarx!</a>
    </h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><%= link_to("Home", root_path) %></li>
            <li><%= link_to("Users", profiles_path) %></li>
            <% if current_user %>
              <li><%= link_to("New Bookmark", new_bookmark_path) %></li>
              <li><%= link_to("Profile", bookmarks_path) %></li>
              <li><%= link_to("Sign Out", destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to("Sign In", new_user_session_path) %></li>
              <li><%= link_to("Sign Up", new_user_registration_path) %></li>
            <% end %>
          </ul>

          <ul class="nav pull-right">
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </header>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>

          <%= yield %>

        </div>
      </div>
    </div>

  <hr>
  <div class="footer">
    <p><strong>handcrafted with ❤ at <%= link_to "RailsGirls Rome", "http://railsgirls.com/rome", :target => "_blank" %> on 22-23 March 2013</strong></p>
  </div>
</div>
  </body>
</html>
